@font-face {
  font-family: "Torcao Condensed";
  src:
    url("/fonts/TorcaoCondensed-ExtraBoldItalic.woff2.ttf") format("truetype"),
    url("/fonts/TorcaoCondensed-ExtraBoldItalic.woff.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
